{% extends 'template_with_header_footer.html' %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
    <title> Сніп-Сноп | Скинути пароль</title>
{% endblock title %}


{% block content %}
    <div class="content-wrapper login">

        <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
            <div class="already_logged_in">
                {% include "account/snippets/already_logged_in.html" %}
            </div>

        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <div class="center_form_wrapper">

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" data-current-email="{{ user.email }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Скинути пароль</button>
            </form>
        </div>

        <h3>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</h3>
    </div>
{% endblock %}