{% extends 'template_with_header_footer.html' %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
    <title> Сніп-Сноп | Встановлення паролю</title>
{% endblock title %}


{% block content %}
    <div class="content-wrapper login">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <div class="center_form_wrapper">

            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Встановити пароль</button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}