{% extends 'template_with_header_footer.html' %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
    <title> Сніп-Сноп | ВІдновлення пароль. Результат</title>
{% endblock title %}


{% block content %}
    <div class="content-wrapper login">
    <h2>Відновлення паролю</h2>

    {% if user.is_authenticated %}
        <div class="already_logged_in">
            {% include "account/snippets/already_logged_in.html" %}
        </div>

    {% endif %}

    <p>Ми надіслали вам електронний лист.Якщо ви не отримали його, перевірте свою папку спаму. В іншому випадку зв’яжіться з нами, якщо ви не отримаєте його за кілька хвилин.</p>
    </div>
{% endblock %}