asgiref==3.5.2
async-timeout==4.0.2
Babel==2.10.3
bleach==5.0.1
certifi==2022.6.15
charset-normalizer==2.1.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.1
django-admin-sortable2==2.1.2
django-appconf==1.0.5
django-baton==2.3.0
django-js-asset==2.0.0
django-money==3.0.0
django-mptt==0.13.4
django-nested-admin==3.4.0
django-phonenumber-field==6.3.0
django-redis==5.2.0
django-select2==7.10.0
django-solo==2.0.0
django-stubs==1.12.0
django-stubs-ext==0.5.0
django-summernote==0.8.20.0
django-svg-image-form-field==1.0.1
idna==3.3
mypy==0.971
mypy-extensions==0.4.3
packaging==21.3
phonenumbers==8.12.53
Pillow==9.2.0
py-moneyed==2.0
pyparsing==3.0.9
python-monkey-business==1.0.0
pytz==2022.2.1
redis==4.3.4
requests==2.28.1
six==1.16.0
sorl-thumbnail==12.8.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
types-pytz==2022.1.2
types-PyYAML==6.0.11
typing_extensions==4.3.0
urllib3==1.26.12
webencodings==0.5.1
wrapt==1.14.1
