.person_phone_ajax__info span {
    display: block;
}

.person_phone_ajax__buttons, .person_ajax__buttons {
    display: flex;
}

.person_phones_area {
    margin-top: 1rem;
}

.field-incoming_phone .related-widget-wrapper{
    flex-grow: 0!important;
}

#addNumberButton {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

span.added {
    background-image: url('/media/admin/ok.svg');
}
span.person {
    background-image: url('/media/admin/person.svg');
}

.field-incoming_phone .select2-container {
    width: 16rem!important;
}

.form-row.field-person.field-incoming_phone .flex-container.form-multiline {
    margin-left: 0!important;
}

.callContactPhone {
    height: 2rem;
    /*border: 1px solid #3FB8AF;*/
    margin-bottom: 0;
}

#foundContact {
    font-size: .8rem;
    height: 2rem;
}

.field-drop_price input {
    width: 9rem!important;
}