{% extends 'template_with_header_footer.html' %}
{% load i18n %}
{% load socialaccount %}
{% load custom_tags %}

{% block title %}
    <title> Сніп-Сноп | Особистий кабінет</title>
{% endblock title %}

{% block content %}
    <div class="content-wrapper cabinet-detail">
        <h2>Мій особистий кабінет</h2>
        <div>
            <!-- Кнопки -->
            <ul class="cabinet-detail-tabs-nav">
                <li><a href="#tab-1">Персональні дані</a></li>
                <li><a href="#tab-2">Мої номери</a></li>
                <li><a href="#tab-3">Мої адреси</a></li>

            </ul>

            <!-- Контент -->
            <div class="cabinet-detail-tabs-items">
                <div class="cabinet-detail-tabs-item login" id="tab-1">
                    <div class="center_form_wrapper">
                        <form action="{% url 'root_app:update_user_personal' %}" id="personalInfoForm">
                            {{ personal_info_form.as_p }}
                            <button type="submit" style="display: none;">Збрегти зміни</button>
                        </form>
                    </div>

                </div>
                <div class="cabinet-detail-tabs-item login" id="tab-2">
                    <div class="center_form_wrapper cabinet-phones">
                        <form action="{% url 'root_app:update_user_phones' %}" id="updateUserPhones" data-delivery-id="{{ delivery_phone_id }}" data-main-id="{{ main_phone_id }}">
                            <div class="cabinet-phones-table">
                                <div class="cabinet-phones-header">
                                    Номер телефону
                                </div>
                                <div class="cabinet-phones-header">
                                    Месенжери
                                </div>
                                <div class="cabinet-phones-header">
                                    Номер вказується для доставки
                                </div>
                                <div class="cabinet-phones-header">
                                    Номер входу в особистий кабінет
                                </div>
                                <div></div>
                                {% for person_phone in person_phones %}
                                    <div class="cabinet-phones-column cabinet-phones-phone" data-id={{ person_phone.id }}>
                                        <span>+38 (0</span>
                                        <input class="phone-number-input" name="phone_{{ person_phone.id }}" type="text" autocomplete="off" value="{{ person_phone.phone__number | strip_phone }}">
                                    </div>
                                    <div class="cabinet-phones-column cabinet-phones-messangers" data-id={{ person_phone.id }}>
                                        {% for m in messengers %}
                                            <label>
                                                {{ m }}
                                                <input type="checkbox" name="messengers_{{ person_phone.id }}" value="{{ m.id }}" {% val_when_in m.id person_phone.m_id_list 'checked' %}>
                                                <div class="checkbox--visible"></div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="cabinet-phones-column cabinet-phones-radios" data-id={{ person_phone.id }}>
                                        <label>
                                            <input type="radio" name="is_delivery_phone" value="{{ person_phone.id }}" {% val_if_eq person_phone.id delivery_phone_id 'checked' %}>
                                            <div class="checkbox--visible checkbox--visible-radio"></div>
                                        </label>
                                    </div>

                                    <div class="cabinet-phones-column cabinet-phones-radios" data-id={{ person_phone.id }}>
                                        <label>
                                            <input type="radio" name="is_main_phone" value="{{ person_phone.id }}" {% val_if_eq person_phone.id main_phone_id 'checked' %}>
                                            <div class="checkbox--visible checkbox--visible-radio"></div>
                                        </label>
                                    </div>
                                    <div class="cabinet-phones-column del-row" data-id='{{ person_phone.id }}' data-new='no' style="{% values_by_condition phones_one 'display: none;' %}">
                                        <div class="del" data-id={{ person_phone.id }} data-phone={{ person_phone.phone__number }} data-new-del='no'></div>
                                    </div>

                                {% endfor %}
                                <div class="cabinet-phones-column cabinet-phones-phone template" data-id='new' data-new='new' id="temlateNewFirstElement" style='display: none;'>
                                    <span>+38 (0</span>
                                    <input class="phone-number-input" type="text" autocomplete="off" disabled>
                                </div>
                                <div class="cabinet-phones-column cabinet-phones-messangers template" data-id='new' data-new='new' style='display: none;'>
                                    {% for m in messengers %}
                                        <label style="display: none;">
                                            {{ m }}
                                            <input type="checkbox" name="messengers_{{ person_phone.id }}" value="{{ m.id }}" disabled>
                                            <div class="checkbox--visible"></div>
                                        </label>
                                    {% endfor %}
                                </div>
                                <div class="cabinet-phones-column cabinet-phones-radios first new template" data-id='new' data-new='new' style='display: none;'>
                                    <label>
                                        <input type="radio" name="is_delivery_phone" disabled>
                                        <div class="checkbox--visible checkbox--visible-radio"></div>
                                    </label>
                                </div>

                                <div class="cabinet-phones-column cabinet-phones-radios second template" data-id='new' data-new='new' style='display: none;'>
                                    <label>
                                        <input type="radio" name="is_main_phone" disabled}>
                                        <div class="checkbox--visible checkbox--visible-radio"></div>
                                    </label>
                                </div>
                                <div class="cabinet-phones-column del-row template" data-new='new' style='display: none;'>
                                    <div class="del" data-id='new-0'></div>
                                </div>
                            </div>

                            <h3 class="cabinet-phones-buttons">
                                <button type="button" id="addNumber">Додати ще один номер</button>
                                <button type="submit" style="display: none;">Зберегти зміни</button>
                            </h3>
                        </form>
                    </div>


                </div>
                <div class="cabinet-detail-tabs-item" id="tab-3">
                    <h3>м. Кукуєвка</h3>
                    <h3>с. Пупуївка</h3>
                </div>
            </div>
        </div>
        <form action="{% url 'root_app:del_user_phone' %}" id="delPhoneForm">
            <input type="hidden" id="phoneIdToDel" name="phone_id">
        </form>
        <a href="#delete_number-popup" id="open_delete_number_popup"></a>
        <div class="delete_number-popup mfp-hide" id="delete_number-popup">
            <h2>Ви дійсно бажаєте видалити номер:</h2>
            <h3 id="numberToDelete"></h3>
            <div class="delete_number-popup-buttons">
                <button id="confirmDelNumber">Так</button>
                <button id="cancelDelNumber">Ні</button>
            </div>

        </div>
    </div>
{% endblock %}