{% extends 'template_with_header_footer.html' %}
{% load thumbnail %}

{% block title %}
    <title> Сніп-Сноп | Обрані товари</title>
{% endblock title %}

{% block content %}
    <div class="content-wrapper favorites">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"> <a href="/">Головна</a> </li>
            <li class="breadcrumbs__item"> Порівняння товарів </li>
       </ul>
        <h2>Обрані товари</h2>
        {% for group in grouped_dict.items %}
            <a href={{ group.1.category.get_absolute_url }}><h3>{{ group.1.category }}</h3></a>
            <div class="favorites__section">
                <div class="category-products__list">
                    {% for product in group.1.products %}
                        {% include 'product_list_easy_item.html' with product=product old_price=product.price total_price=product.total_price discount_type=product.discount_type discount=product.annotated_discount id_list=fav_id_list url=url_product_actions page='favorites'%}
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <h3>Ви ще не додавали товарів до обраного</h3>
        {% endfor %}
    </div>
{% endblock %}