<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="/">Головна</a>
    </li>

    {% for cat in category.parents %}
        <li class="breadcrumbs__item">
            <a href={{ cat.0 }}>{{ cat.1 }}</a>
        </li>
    {% endfor %}

    {% if type_category == 'product' %}
        <li class="breadcrumbs__item">
            {% for cat in last_categories %}
                <a href={{ cat.get_absolute_url }}>{{ cat }}</a>
                    {% if not forloop.last %}
{#                         &nbsp ~ &nbsp#}
                        ~
                    {% endif %}
            {% endfor %}
        </li>
        </li class="breadcrumbs__item">
            <span>{{ product }}</span>
        </li>
    {% else %}
        </li class="breadcrumbs__item">
            <span>{{ category.name }}</span>
        </li>
    {% endif %}
</ul>