{% extends 'base.html' %}
{% load thumbnail %}
{% load custom_tags %}
{% block title %}
    <title> Сніп-Сноп | Оформлення замовлення</title>
{% endblock title %}

{% block main_content %}
{#    <input id ='reloadValue' type = 'hidden' name = 'reloadValue' value = ''/>#}
<div class="checkout_header">
    <div class="content-wrapper">
        <div class="checkout_header__logo">
            <a href="/">
                <img src="/media/main_page/header/logo_Snip_Snop.svg" alt="">
            </a>
        </div>
        <div class="checkout_header__contacts">
            {% for contact_phone in contact_phones %}
                <span class="main-header__phone-type">{{contact_phone.get_chat_links}}</span>
                <span class="main-header__phone" itemprop="telephone">
                    <a href="tel:{{ contact_phone.phone }}">{{ contact_phone.phone.number|phone_national }}</a>
                </span>
            {% endfor %}

        </div>
        <span>
            <a class="link_back" id="link_back" href="{{ back_link }}">На попередню сторінку</a>
        </span>
    </div>
</div>

<div class="content-wrapper checkout">
    <div class="checkout__section checkout__main_section">
        <h2>Оформлення замовлення</h2>
        <div class="checkout__section checkout__section--products">
            <h3>Замовлені товари</h3>
            <div class="checkout__section_block user-content__basket-list">
            {% for pr in products_obj_in_basket %}
                <div class="user-content__basket-item">
                    <div class="user-content__basket-item-img">
                        {% thumbnail pr.product.thumb "80" as im %}
{#                            <img src="{{ im.url }}">#}
                            <a href={{ pr.product.get_absolute_url }}><img src="{{ im.url }}"></a>
                        {% endthumbnail %}
                    </div>

                    <div class="user-content__basket-item-info">
{#                        <h4>{{ pr.product }}</h4>#}
                        <a href={{ pr.product.get_absolute_url }}><h4>{{ pr.product }}</h4></a>
                        <div class="user-content__basket-item-calculate">
                            <div class="user-content__basket-item-price">{{ pr.price }} ₴</div>
                            <div class="user-content__basket-item-amount">
                                <input type="number" min="1" name="amount" value="{{ pr.amount }}" data-product_id="{{ pr.product.id }}" data-action="change_amount" autocomplete="off">, шт
                            </div>
                            <div class="user-content__basket-item-total">Всього: <span>{{ pr.total|floatformat:2 }} ₴</span></div>
                        </div>
                    </div>
                    <span class="close"><span data-product_id="{{ pr.product.id }}" data-action="remove_from_basket"></span></span>
                </div>
            {% endfor %}

            </div>
            <form id="update_basket" action="{{ url_product_actions }}">
                {% csrf_token %}
                <input type="hidden" name='product_id' value="">
                <input type="hidden" name="action" value="">
                <input type="hidden" name="amount" value="">
            </form>
        </div>
    <div class="checkout__section">
        <h3>Контактна інформація</h3>
        <div class="checkout__section_block">
            <form action="">
                <fieldset>
                    <legend>Замовник</legend>
                    {{ person_form.as_p }}
                </fieldset>
            </form>

        </div>
    </div>

    </div>
    <div class="checkout__section checkout__right_section">
        <h3>Загалом:</h3>
        <div class="checkout__section_block">
            <div class="user-content__basket-total--ammount">
                товарів: <span>{{ basket_total.total_amount }}</span> шт
            </div>
            <div class="user-content__basket-total--summ">
                на суму: <span>{{ basket_total.total_sum|floatformat:2  }} ₴</span>
            </div>
        </div>

    </div>
</div>
{% endblock main_content %}
