{% load thumbnail %}
<div class="product-list-item">
    <div class="product-list-item-content">
        <div class="product-list-item-content__img-slider-wrapper">
            {% with photo_count=product.images.count %}
            {% thumbnail photo_plug "300" as plug %}
                {% if photo_count == 0 %}
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ plug.url }}" >
                    </a>
                {% elif photo_count == 1 %}
                    {% thumbnail product.images.first.image "300" as im %}
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ im.url }}" >
                        </a>
                    {% endthumbnail %}
                {% else %}
                    <div class="product-list-item-content__img-slider data-slick='{}'">
                        {% for imgplacing in product.images.all %}
                            {% thumbnail imgplacing.image "300" as im %}
                                <a href="{{ product.get_absolute_url }}">
                                    {% if forloop.first %}
                                        <img src="{{ im.url }}">
                                    {% else %}
                                        <img data-lazy="{{ im.url }}" src="{{ plug.url }}">
                                    {% endif %}
                                </a>
                            {% endthumbnail %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endthumbnail %}
            {% endwith %}
        </div>
        <div class="product-list-item-content__title">
            <a href="{{ product.get_absolute_url }}">{{ product }} </a>
        </div>
        <div class="product-list-item-content__actions">
            <span class="product-list-item-content__price">{{ product.price }}</span>
            <span class="product-list-item-content__icons">
                {% if product.id|stringformat:"i" in fav_id_list %}
                    <span class="product-list-item-content__add-favorite loved" data-status="enabled"></span>
                {% else %}
                    <span class="product-list-item-content__add-favorite" data-status="disabled"></span>
                {% endif %}
                {% if product.id|stringformat:"i" in comp_id_list %}
                    <span class="product-list-item-content__compare compared" data-status="enabled"></span>
                {% else %}
                    <span class="product-list-item-content__compare" data-status="disabled"></span>
                {% endif %}
                <form  class="product_action_form" action="{{ url_product_actions }}" data-mode="{{ mode }}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="action" value="">
                </form>
            </span>
        </div>
        <div class="product-list-item-content__reviews-summary">
            <div class="rating-summary">
                <div class="rating-result" title="70%">
            <span style="width:{{ product.rating }}%">
            </span>
                </div>
            </div>
            <div class="product-list-item-content__reviews">
                5 <span>відгуків</span>
            </div>
        </div>
        <span class="product-list-item-content__by">
            <a href="/" >Купити</a>
        </span>
    </div>
</div>