{% extends 'product_list_easy_item.html' %}
{% block characteristic %}

    <ul class="product-list-item-content__characteristics">
        {% for shot_attr in minidescription_data %}
            {% if  shot_attr.1%}
            <li class="product-list-item-content__characteristics-item">
                <span class="product-list-content-item__characteristic-title">{{ shot_attr.0 }}</span>
                <span class="product-list-item-content__characteristic-value">{{ shot_attr.1 }}</span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

