<form action={{ category.get_absolute_url }} id="filter-form" class="category-sidebar" data-max-height-section="26rem" >
    {% if category.level != 0 %}
        <div class="category-sidebar__bro-categories category-sidebar__section" >

            <div class="category-sidebar__title">
                Інше в категорії {{ category.parent }}
                <div class="category-sidebar__title-checkbox">
                    <label>
                        <input type="checkbox" value="bro-categories" name="sections-status"><span></span>
                    </label>
                </div>
            </div>

            <div class="category-sidebar__section-content-wrapper" id="bro-categories">
                <ul class="category-sidebar__section-content" >
                    {% for bro in category.bro_categories %}
                        <li>{{ bro.link }}</li>
                    {% endfor %}
                </ul>
                <div class="category-sidebar__section-overflow-indicator">Показати всі</div>
                <div class="category-sidebar__section-overflow-indicator">Згорнути</div>
            </div>
        </div>
    {% endif %}
    <div class="category-sidebar__section">
        <div class="category-sidebar__title">Ціна
            <div class="category-sidebar__title-checkbox">
                <label>
                    {% if "tsyna" in wide_sections or not filtered %}
                        <input type="checkbox" checked value="tsyna" name="sections-status"><span></span>
                    {% else %}
                        <input type="checkbox" value="tsyna" name="sections-status"><span></span>
                    {% endif %}

                </label>
            </div>
        </div>
        <div class="category-sidebar__section-content-wrapper" id="tsyna">
            <div class="category-sidebar__section-content category-sidebar__section-content--slider">
                <div id="slider" data-min-price={{ price_min|stringformat:".2f" }} data-max-price={{ price_max|stringformat:".2f" }}
                data-price-from={{ price_from }} data-price-to={{ price_to }}></div>
                <div class="category-sidebar__section-digital-inputs">
                    <input id="input-number-from" name="price_from" type="number">
                    <input id="input-number-to" name="price_to" type="number">
                </div>
                <button type="submit">Фільтрувати за ціною</button>
            </div>
        </div>
    </div>
    <form action="">
        {% for filter in filters_and_val_variant %}
            {% if filter.type == 'price' %}
            {% else %}
                <div class="category-sidebar__section">
                    <div class="category-sidebar__title"> {{ filter.name }}
                        <div class="category-sidebar__title-checkbox">
                            <label>
                                {% if filter.slug in wide_sections or not filtered %}
                                    <input type="checkbox" checked value={{ filter.slug }} name="sections-status">
                                    <span></span>
                                {% else %}
                                    <input type="checkbox" value={{ filter.slug }} name="sections-status">
                                    <span></span>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div id={{ filter.slug }} class="category-sidebar__section-content-wrapper" id={{ filter.slug }}>
                        <ul class="category-sidebar__section-content">
                            {% for val_variant in filter.val_variants %}
                                {% if val_variant.total_products == 0 %}
                                    <li><label class="category-sidebar__checkbox" disabled="">
                                        {% else %}
                                    <li><label class="category-sidebar__checkbox">
                                {% endif %}
                            {% if val_variant.is_checked %}
                                <input type="checkbox" checked name="{{ filter.slug }}" value="{{ val_variant.slug }}">
                            {% else %}
                                {% if val_variant.total_products == 0 %}
                                    <input type="checkbox" name="{{ filter.slug }}" value="{{ val_variant.slug }}" disabled>
                                {% else %}
                                    <input type="checkbox" name="{{ filter.slug }}" value="{{ val_variant.slug }}">
                                {% endif %}
                            {% endif %}
                            <div class="category-sidebar__checkbox--visible"></div> <span>{{ val_variant.name }} ({{ val_variant.total_products }})</span>
                            </label></li>
                            {% endfor %}
                        </ul>
                        <div class="category-sidebar__section-overflow-indicator">Показати всі</div>
                        <div class="category-sidebar__section-overflow-indicator">Згорнути</div>
                    </div>
                </div>

        {% endif %}
    {% endfor %}
    </form>
</form>