{% extends 'base.html' %}

{% block main_content %}

    <div class="preloader fast">
    <div class="loader"></div>
    </div>

    <span id="top"></span>
    <div class="page">
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Main -->
    <main class="main">
    {% block content %}
    {% endblock content %}
    </main>
    </div>
    {% include 'viewed_products.html' with products=new_products %}
    {% include 'autorize_block.html' %}
    {% include 'footer.html' %}
    <a class="scroll-top" href="#top"></a>
{% endblock main_content %}
