{% load static %}
{{ settlement_form.media.css }}
<link rel="stylesheet" href={% static "select2.min.css" %}>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Обновить список отделений
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="update_warehouses_section">
            <a class="update_all" href="{% url 'nova_poshta:update_warehouses' %}">Обновить весь список отделений </a>
            <h5 class="update_by_settlement_titile">Обновление по населенному пункту</h5>

            <h6>Выберите населенный пункт:</h6>

            <form action="{% url 'nova_poshta:update_warehouses' %}">
                <div style="display: flex" class="select_settlement">

                    {{ settlement_form.as_p }}

                </div>
                <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
        </div>
    </div>
</div>
{{ settlement_form.media.js }}


<style>
    .update_warehouses_section {
        outline: none;
    }

    .update_all {
        background-color: #e1d483;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: .3rem;
    }

    .update_by_settlement_titile {
        text-align: center;
        font-weight: 600;
        text-decoration: underline;
        margin: 2rem  0;
        background-color: #a09cd3;
        padding: 1.2rem;
    }

    .update_warehouses_section h6 {
        margin-bottom: 1.5rem;
        text-decoration: underline;
    }
    
    .select_settlement {
        max-width: 80rem;
    }

    .select_settlement p:first-child span {
        width: 20rem;
    }

    .select_settlement p:nth-child(2) span {
        width: 38rem;
    }

    .select_settlement p:nth-child(2) {
        margin-left: 2rem;
    }

    .collapse {
        margin-bottom: 2rem;
    }
</style>

