<div id="ajaxUrls" data-get-price-and-product-suppliers-prices-url="{% url 'finance:ajax_get_product_price_and_suppliers_prices_variants'%}"
     data-supplier-price-by-price-item-id-url="{% url 'finance:ajax_get_supplier_price_by_price_item_id' %}"
     data-ajax-get-calculated-finance-for-price-list-url="{% url 'finance:ajax_get_calculated_finance_for_price_list' %}"
{#     data-ajax-get-supplier-price-item_by_supplier_price_id="{% url 'finance:ajax_get_supplier_price_item_by_supplier_price_id' %}"#}
     style="display: none">

</div>