<div id="foundedPersonsAndContacts" class="founded_person">
    <div>
        <h5>Найденые контрагенты с этим номером:</h5>
        <ul id="foundedPersons">

        </ul>
    </div>
    <div>
        <h5>Найденые контактные лица контрагентов с этим номером:</h5>
        <ul id="foundedPersons"><li><button type="button" data-person-id="c4186097-1df9-41b0-a1e0-fe6b6f010835" class="select_person btn btn-secondary">выбрать контрагента</button> - 30-04-2023: Новый Контрагент  </li><li><button type="button" data-person-id="c17687ed-bdc8-4be3-99ac-26d76135b6b4" class="select_person btn btn-secondary">выбрать контрагента</button> - 29-04-2023: Гусенко Василь Павлович </li><li><button type="button" data-person-id="395e7dad-b260-45ae-899e-f4a4ae6afdae" class="select_person btn btn-secondary">выбрать контрагента</button> - 30-04-2023: Покупатель   </li><li><button type="button" data-person-id="dfc57fc5-6c2a-44a5-8bfb-873928c2efcd" class="select_person btn btn-secondary">выбрать контрагента</button> - 30-04-2023:    </li><li><button type="button" data-person-id="13030c0d-7001-4cf8-88ad-736d18e25488" class="select_person btn btn-secondary">выбрать контрагента</button> - 30-04-2023: Какойто Покупатель  </li></ul>
    </div>

</div>

<style>
    #foundedPersonsAndContacts {
        margin-top: 2rem;
    }
    .founded_person {
        display: flex;
    }
    .founded_person li {
        padding: .5rem;
    }
    .founded_person li button {
        margin-right: 1rem
    }
</style>
