{% extends 'template_with_header_footer.html' %}
{% load thumbnail %}

{% block title %}
    <title> Сніп-Сноп | {{ category }}
        {% for checkbox in checked_filters %}
            {% if forloop.first %}
                : {{ checkbox.0 }}
            {% else %}
                / {{ checkbox.0 }}
            {% endif %}
        {% endfor %}
    </title>
{% endblock title %}

{% block content %}
    <div class="content-wrapper">
        {% include 'breadcrumbs.html' %}
        <div class="category__header">
            <div class="category__title">
                <h1>{{ category.name }}.</h1>

                <span class="category__header-info"><span id="category__header-info-total">{{ total }}</span> шт / <span id="category__header-info-total-pages">{{ total_pages }}</span> сторінки (сторінка № <span id="category__header-info-current-page">{{ current_page }}</span>) </span>
            </div>
            <div class="category__subcategory">
                {% if category.subcategory_links %}
                    <span class="category__subcategory-title">Підкатегорії:</span>
                {% endif %}
                {% for subcategory in category.children_to_display %}
                    <span class="category__subcategory-item">{{ subcategory.link }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="category__main">
            {% include 'sidebar.html' %}
            <div class="category-content">
                <div class="category-products__controls">
                    <div class="category-products__filters-list">
                        {% for checkbox in checked_filters %}
                            {% if checkbox.1 == 'price'%}
                                <span class="category-products__filters-item" data-filter={{ checkbox.1 }} data-val={{ checkbox.1 }}>Ціна від &nbsp <span class="from"> {{ checkbox.0.0 }}</span> &nbsp грн до &nbsp <span class="to">{{ checkbox.0.1 }}</span>&nbsp грн</span>
                            {% else %}
                                <span class="category-products__filters-item" data-filter={{ checkbox.2 }} data-val={{ checkbox.1 }}>{{ checkbox.0 }}</span>
                            {% endif %}
                        {% endfor %}
                        {% if checked_filters_len > 1 %}
                            <a class="category-products__filters-item" href={{ category.get_absolute_url }} id='reset_all'>
                                Скинути всі фільтри
                            </a>
                        {% else %}
                            <a class="category-products__filters-item" href={{ category.get_absolute_url }} id='reset_all' style="visibility: hidden">
                                Скинути всі фільтри
                            </a>
                        {% endif %}
                    </div>
                    <div class="category-products__display-settings">
                        {% if listing_sort == 'default_sort' or not filtered %}
                            <span>За популярністю</span>
                        {% elif  listing_sort == 'sort_from_cheap_to_expensive' %}
                            <span>Від дешевих к дорогим</span>
                        {% else %}
                            <span>Від дорогих к дешевим</span>
                        {% endif %}
                        <div class="category-products__display-settings-popup">
                            {% if not filtered or listing_sort == 'default_sort' %}
                                <input form="filter-form" id="default_sort" type="radio" name="listing_sort" value="default_sort" checked>
                            {% else %}
                                <input form="filter-form" id="default_sort" type="radio" name="listing_sort" value="default_sort">
                            {% endif %}
                            <label for="default_sort">За популярністю</label>
                            {% if listing_sort == 'sort_from_cheap_to_expensive' %}
                                <input form="filter-form" id="sort_from_cheap_to_expensive" type="radio" name="listing_sort" value="sort_from_cheap_to_expensive" checked>
                            {% else %}
                                <input form="filter-form" id="sort_from_cheap_to_expensive" type="radio" name="listing_sort" value="sort_from_cheap_to_expensive">
                            {% endif %}
                            <label for="sort_from_cheap_to_expensive">Від дешевих к дорогим</label>
                            {% if listing_sort == 'sort_from_expensive_to_cheap' %}
                                <input form="filter-form" id="sort_from_expensive_to_cheap" type="radio" name="listing_sort" value="sort_from_expensive_to_cheap" checked>
                            {% else %}
                                <input form="filter-form" id="sort_from_expensive_to_cheap" type="radio" name="listing_sort" value="sort_from_expensive_to_cheap">
                            {% endif %}
                            <label for="sort_from_expensive_to_cheap">Від дорогих к дешевим</label>
                        </div>
                    </div>
                </div>

                <div class="category-products__list">
                    {% include 'category_listing.html' %}
                </div>
                <div class="category-paginator">
                    <div class="category-paginator__items-wrapper">
                        {% for p in page_range %}
                            {% if forloop.counter == current_page %}
                                <input class="category__paginator_item" form="filter-form" id="page_{{ p }}" type="radio" name="paginator" value={{ p }} checked>
                            {% else %}
                                <input class="category__paginator_item" form="filter-form" id="page_{{ p }}" type="radio" name="paginator" value={{ p }}>
                            {% endif %}
                            <label for="page_{{ p }}">{{ p }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}