{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    <title> Сніп-Сноп | {{ category }}</title>
{% endblock title %}

{% block content %}
    <div class="content-wrapper">
        <div class="category__header">
            {% include 'breadcrumbs.html' %}
            <div class="category__title">
                <h1>{{ category.name }}.</h1>
                <span class="category__header-info">{{ total }} шт / {{ total_pages }} сторінки (сторінка № {{ current_page }}) </span>
            </div>
            <div class="category__subcategory">
                {% if category.subcategory_links %}
                    <span class="category__subcategory-title">Підкатегорії:</span>
                {% endif %}
                {% for subcategory in category.children_to_display %}
                    <span class="category__subcategory-item">{{ subcategory.link }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="category__main">
            {% include 'sidebar.html' %}
            <div class="category-content">
                <div class="category-products__controls">
                    <div class="category-products__filters-list">
                        {% for checkbox in checked_filters %}
                            <span class="category-products__filters-item" data-filter={{ checkbox.2 }} data-val={{ checkbox.1 }}>{{ checkbox.0 }}</span>
                        {% endfor %}
                        {% if checked_filters_len > 1 %}
                            <a class="category-products__filters-item" href={{ category.get_absolute_url }}>
                                Скинути всі фільтри
                            </a>
                        {% endif %}
                    </div>
                    <div class="category-products__display-settings">
                        {% if listing_sort == 'default_sort' or not filtered %}
                            <span>За популярністю</span>
                        {% elif  listing_sort == 'sort_from_cheap_to_expensive' %}
                            <span>Від дешевих к дорогим</span>
                        {% else %}
                            <span>Від дорогих к дешевим</span>
                        {% endif %}
                        <div class="category-products__display-settings-popup">
                            {% if not filtered or listing_sort == 'default_sort' %}
                                <input form="filter-form" id="default_sort" type="radio" name="listing_sort" value="default_sort" checked>
                            {% else %}
                                <input form="filter-form" id="default_sort" type="radio" name="listing_sort" value="default_sort">
                            {% endif %}
                            <label for="default_sort">За популярністю</label>
                            {% if listing_sort == 'sort_from_cheap_to_expensive' %}
                                <input form="filter-form" id="sort_from_cheap_to_expensive" type="radio" name="listing_sort" value="sort_from_cheap_to_expensive" checked>
                            {% else %}
                                <input form="filter-form" id="sort_from_cheap_to_expensive" type="radio" name="listing_sort" value="sort_from_cheap_to_expensive">
                            {% endif %}
                            <label for="sort_from_cheap_to_expensive">Від дешевих к дорогим</label>
                            {% if listing_sort == 'sort_from_expensive_to_cheap' %}
                                <input form="filter-form" id="sort_from_expensive_to_cheap" type="radio" name="listing_sort" value="sort_from_expensive_to_cheap" checked>
                            {% else %}
                                <input form="filter-form" id="sort_from_expensive_to_cheap" type="radio" name="listing_sort" value="sort_from_expensive_to_cheap">
                            {% endif %}
                            <label for="sort_from_expensive_to_cheap">Від дорогих к дешевим</label>
                        </div>
                    </div>
                </div>

                <div class="category-products__list">
                    {% for product_placement in category_listing %}
                    {% with product=product_placement.product %}
                        <div class="product-list-item">

                            <div class="product-list-item-content">
                                <div class="product-list-item-content__img-slider-wrapper">
                                    {% with photo_count=product.images.count %}
                                    {% thumbnail photo_plug "300" as plug %}
                                        {% if photo_count == 0 %}
                                            <a href="/">
                                                <img src="{{ plug.url }}" >
                                            </a>
                                        {% elif photo_count == 1 %}
                                            {% thumbnail product.images.first.image "300" as im %}
                                                <a href="/">
                                                    <img src="{{ im.url }}" >
                                                </a>
                                            {% endthumbnail %}
                                        {% else %}
                                            <div class="product-list-item-content__img-slider data-slick='{}'">
                                                {% for imgplacing in product.images.all %}
                                                    {% thumbnail imgplacing.image "300" as im %}
                                                        <a href="/">
                                                            {% if forloop.first %}
                                                                <img src="{{ im.url }}">
                                                            {% else %}
                                                                <img data-lazy="{{ im.url }}" src="{{ plug.url }}">
                                                            {% endif %}
                                                        </a>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endthumbnail %}
                                    {% endwith %}
                                </div>
                                <div class="product-list-item-content__title">
                                    <a href="/">{{ product }}</a>
                                </div>
                                <div class="product-list-item-content__actions">
                                    <span class="product-list-item-content__price">{{ product.price }}</span>
                                    <span class="product-list-item-content__icons">
                                <span class="product-list-item-content__add-favorite"></span>
                                <span class="product-list-item-content__compare"></span>
                            </span>
                                </div>
                                <div class="product-list-item-content__reviews-summary">
                                    <div class="product-list-item-content__rating-summary">
                                        <div class="product-list-item-content__rating-result" title="70%">
                                    <span style="width:{{ product.rating }}%">
                                    </span>
                                        </div>
                                    </div>
                                    <div class="product-list-item-content__reviews">
                                        5 <span>відгуків</span>
                                    </div>
                                </div>
                                <span class="product-list-item-content__by">
                            <a href="/" >Купити</a>
                        </span>
                                <ul class="product-list-item-content__characteristics">
                                    {% for shot_attr in product.shot_attributes %}
                                        {% if  shot_attr.1%}
                                        <li class="product-list-item-content__characteristics-item">
                                            <span class="product-list-content-item__characteristic-title">{{ shot_attr.0 }}</span>
                                            <span class="product-list-item-content__characteristic-value">{{ shot_attr.1 }}</span>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endwith %}
                    {% endfor %}
            </div>
                <div class="category-paginator">
                    <div class="category-paginator__items-wrapper">
                        {% for p in page_range %}
                            {% if forloop.counter == current_page %}
                                <input class="category__paginator_item" form="filter-form" id="page_{{ p }}" type="radio" name="paginator" value={{ p }} checked>
                            {% else %}
                                <input class="category__paginator_item" form="filter-form" id="page_{{ p }}" type="radio" name="paginator" value={{ p }}>
                            {% endif %}
                            <label for="page_{{ p }}">{{ p }}</label>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>

{% endblock content %}